* {
  box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;
  padding: 10px;
}

.column img {
  margin-top: 12px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
/*Windows and Menu Size*/
.window-menu {
  width: 100%;
  height: 36px;
  background-color: #1d2734;
  margin-bottom: auto;
}

.icons-format {
  color: white;
  margin: 10px;
}

mat-grid-tile {
  background: lightblue;
}
.mat-options-style{
  color: white; background: #1d2734;
}
.text-resource-added{
  position: absolute;
}