<mat-grid-list cols="2" rowHeight="2:1">
  <div>
    <mat-grid-tile>
      <div class="window-menu">
        <mat-form-field class="grid-select" id="select-field">
          <mat-select [(value)]="selected" [ngClass]="selected">
            <mat-option
              class="mat-options-style"
              value="option1"
              (click)="openDialog()"
              >Add new Source
            </mat-option>
            <mat-option class="mat-options-style" value="option2"
              >Participant 1</mat-option
            >
            <mat-option class="mat-options-style" value="option3"
            (click)="openDialog()"
              >Embeded Code 1</mat-option
            >
            <mat-option class="mat-options-style" value="option3"
              >ScreenShare</mat-option
            >
          </mat-select>
        </mat-form-field>
        <i class="fa fa-video-camera icons-format" aria-hidden="true"></i>
        <i class="fa fa-microphone icons-format" aria-hidden="true"></i>
        <i class="fa fa-cog icons-format" aria-hidden="true"></i>
      </div>

    </mat-grid-tile>
  </div>

  <div>
    <mat-grid-tile>
      <div class="window-menu">
        <i class="fa fa-video-camera icons-format" aria-hidden="true"></i>
        <i class="fa fa-microphone icons-format" aria-hidden="true"></i>
        <i class="fa fa-cog icons-format" aria-hidden="true"></i>
      </div>
      <div class="text-resource-added">
        <div *ngIf="text">
          <h1>This is your text:</h1>

         <div>
          {{text}}
         </div>
        </div>
      </div>
    </mat-grid-tile>
  </div>
  <div>
    <mat-grid-tile>
      <div class="window-menu">
        <i class="fa fa-video-camera icons-format" aria-hidden="true"></i>
        <i class="fa fa-microphone icons-format" aria-hidden="true"></i>
        <i class="fa fa-cog icons-format" aria-hidden="true"></i>
      </div>
      <div class="text-resource-added">
        <div *ngIf="code">
         <div innerHTML="{{code}}">
          This is your embed code:

         </div>
        </div>
      </div>
    </mat-grid-tile>
  </div>
  <div>
    <mat-grid-tile>
      <div class="window-menu">
        <i class="fa fa-video-camera icons-format" aria-hidden="true"></i>
        <i class="fa fa-microphone icons-format" aria-hidden="true"></i>
        <i class="fa fa-cog icons-format" aria-hidden="true"></i>
      </div>
      <div class="text-resource-added">
        <div *ngIf="url">
          <h1>This is your url:</h1>
          {{url}}
         </div>
      </div>
    </mat-grid-tile>
  </div>
</mat-grid-list>
