/* Header*/
.header {
    Height: 70px;
    background-color: #ececec;
  }
  body {
    font-family: Arial;
    margin: 0;
  }
  /*Menu left*/
  .column {
    float: left;
    width: 70px;
    height: 600px;
    background-color: #1D2734 !important;
  }

    /*Menu Right*/
    .column-right {
        float: right;
        width: 20%;
        height: 600px;
        background-color: #f1f1f1 !important;
      }
      .column-right-contracted{
        float: right;
        width: 4%;
        height: 600px;
        background-color: #f1f1f1 !important;
      }

      /*screen preview*/
    .screen-preview {
        height: 139px;
        margin: 9px;
        width: auto;
        background-color: #cecece;
    }

    /*header inside Sreen preview Section*/
    .mini-header{
        height: 50px;
        background-color: #f9f7f7 ;
    }

    /*Grid Select*/
    .grid-select{
      /**float: right;
      margin: 19px 116px 0px 0px;**/
      float: right;
      margin-right: 100px;
      margin-top: -3px;
      margin-top: 10px;
    }
  
    .option1{
      background:  src("assets/icons/icon-layout-3.svg")  center / contain no-repeat;
      white-space: nowrap
    
    }
    
    
    .option2{
      background:  src("assets/icons/icon-layout-2.svg")  center / contain no-repeat;
      white-space: nowrap;
      display:inline
    }

    .option3{
      background:  src("assets/icons/icon-layout-4.svg")  center / contain no-repeat;
      white-space: nowrap;
      display:inline
    }

    .grid-component-size{
      width: 87%;
      float: left;
      margin: 21px;
    }