<header class="header">
  <mat-form-field class="grid-select">
    <mat-select [(value)]="selected" [ngClass]="selected">
      <mat-option value="option1">Layout
        <img with="15" height="15" src="assets/icons/icon-layout-3.svg">
      </mat-option>
      <mat-option value="option2">Layout 2
        <img with="15" height="15" src="assets/icons/icon-layout-2.svg">
      </mat-option>
      <mat-option value="option3">Layout 3
        <img with="15" height="15" src="assets/icons/icon-layout-4.svg">
      </mat-option>
    </mat-select>
  </mat-form-field>
</header>


  <!--Left Menu Options-->
  <div class="column">
    <img src="assets/icons/icon-antenna.svg" style="margin: 13px;" />
    <i
      class="fa fa-users fa-6"
      style="font-size: 24px; color: #ced2d6; margin: 14px;"
    ></i>
  </div>
  <!--Right Section to show previous screen--->
    <!--Show Previous screen menu-->
    <div *ngIf="!show" class="column-right-contracted">
      <!--mini header-->
      <div class="mini-header">
        <!--Show Previou-->
        <img
          (click)="toggle()"
          src="assets/icons/icon-sidebar-expand.svg"
          style="margin: 13px;"
        />
      </div>
    </div>
    <!--Hide previous screen menu-->
    <div *ngIf="show" class="column-right">
      <!--mini header-->
      <div class="mini-header">
        <!--Hide Previou-->
        <img
          (click)="toggle()"
          src="assets/icons/icon-sidebar-collapse.svg"
          style="margin: 13px;"
        />
      </div>
      <!--Previus screen-->
      <div class="screen-preview"></div>
    </div>
  <!--Grid Screens-->
    <ng-container>
      <div>
        <app-camera-windows class="grid-component-size"></app-camera-windows>
      </div>
    </ng-container>

