<!--<div>
    <div  mat-dialog-content>
        <p>Please add your text Code?</p>
          <input matInput [(ngModel)]="data.text">
      </div>
      <div mat-dialog-actions>
        <button mat-button (click)="onNoClick()">Cancel</button>
        <button mat-button [mat-dialog-close]="data.text" cdkFocusInitial>Ok</button>
      </div>
</div>-->
<h3><strong>Add New Source</strong></h3>

<mat-tab-group>
  <mat-tab label="Text"
    ><p>Add Text</p>
    <input matInput [(ngModel)]="data.text" />
    <button mat-button (click)="onNoClick()">Cancel</button>
    <button mat-button [mat-dialog-close]="data.text" cdkFocusInitial>
      Ok
    </button>
  </mat-tab>
  <mat-tab label="URL"
    ><p>Add URL</p>
    <input matInput [(ngModel)]="data.url" />
    <button mat-button (click)="onNoClick()">Cancel</button>
    <button mat-button [mat-dialog-close]="data.url" cdkFocusInitial>
      Ok
    </button>
  </mat-tab>
  <mat-tab label="Embed">
    <p>Add Embed Code</p>
    <input matInput [(ngModel)]="data.code" />
    <button mat-button (click)="onNoClick()">Cancel</button>
    <button mat-button [mat-dialog-close]="data.code" cdkFocusInitial>
      Ok
    </button>
  </mat-tab>
</mat-tab-group>
